html,
body {
    height: ;
    background: linear-gradient(45deg, rgb(217, 235, 241), white);
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

input {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    -webkit-box-shadow: 5px 5px 10px gray;
    -moz-box-shador: 5px 5px 10px gray;
}

table {
    width: 100%;
}

td,th {
    border: 1px solid;
    width: 20%;
    text-align: center;
    padding: 1px;
    background: linear-gradient(45deg, rgb(197, 219, 226), white);
    border-radius: 5px;
        box-shadow: 5px 5px 10px gray;
        -webkit-box-shadow: 5px 5px 10px gray;
        -moz-box-shador: 5px 5px 10px gray;
}



#nometable {
    text-align: center;
}

#nomee {
    padding-left: 1%;
}

button {
    border-radius: 10px;
    background-color: rgb(217, 235, 241);
}

th,th1,th2,th3 {
    font-family: Arial, Helvetica, sans-serif;
}

#topzera {
    font-size: 0.7em;
}
